<%- include("../partials/header") -%>

<h1 style="text-align: center; color: black">Welcome to my web technologies assignment! <br /> Go to the To Do List page and test my application</h1>

<%- include("../partials/footer") -%>